body {
    background-color: lightgray;
    box-sizing: border-box;
}

.main-content-wrapper {
    max-width: 1080px;
    margin: auto;
    background-color: whitesmoke;
    margin-top: 0;
    min-height: calc(100vh - 142px);
    padding: 15px;

    font-family: 'Source Sans Pro', sans-serif;
    box-shadow: 7px 3px 5px rgba(0, 0, 0, 0.2), -7px 3px 5px rgba(0, 0, 0, 0.2);
}

.main-content-wrapper h1 {
    margin-top: 0;
}

h2 {
    color: var(--navbar_background);
}

footer {
    text-align: center;
}


@media (prefers-color-scheme: dark) {
    body {
        color: #eee;
        background-color: var(--darkmode-body-background);
    }

    .main-content-wrapper {
        background-color: var(--darkmode-background);
    }

    body a {
        color: #809fff;
    }

    h2 {
        color: var(--navbar-mainmenu-color);
    }

    h3 {
        color: var(--navbar-mainmenu-color);
    }

    h4 {
        color: var(--navbar-mainmenu-color);
    }
}